<div class="card">
	<div class="card-content" *ngIf="!isEditing; else postEdition">
		<h2>{{ post.title }}</h2>
		<p>{{ post.author }}</p>
		<i class="lucca-icon" *ngIf="isPending$ | async; else postState">clock</i>
		<ng-template #postState>
			<i class="lucca-icon">{{ post.id ? 'tick' :  'sync' }}</i>
		</ng-template>
	</div>
	<div class="card-actions" *ngIf="!isEditing">
		<button
			type="button"
			class="actionIcon"
			(click)="editPost()"
			luTooltip="Edit"
		>
			<span aria-hidden="true" class="lucca-icon icon-edit"></span>
			<span class="u-mask">Edit</span>
		</button>
		<button
			type="button"
			class="actionIcon"
			(click)="removePost()"
			luTooltip="Remove"
		>
			<span aria-hidden="true" class="lucca-icon icon-trash"></span>
			<span class="u-mask">Remove</span>
		</button>
	</div>
</div>

<ng-template #postEdition>
	<div class="card-content">
		<app-post-form
			[(ngModel)]="post"
			(hide)="isEditing = false"
			ngDefaultControl
		></app-post-form>

		<button
			class="button palette-primary u-marginTopStandard"
			[disabled]="!isPostValid"
			(click)="editPost()"
		>Edit post</button>
	</div>
</ng-template>