<aside class="navSide">
	<nav class="navSide-scrollWrapper">
		<div class="navSide-item-placeholder"></div>
		<div class="navSide-item mod-mobileToggle">
			<a href="#" class="navSide-item-link">
				<span class="navSide-item-link-title">Menu</span>
				<i class="navSide-item-arrow lucca-icons icon-arrowSouthThin"></i>
			</a>
		</div>
		<div class="navSide-item is-active">
			<a href="#" class="navSide-item-link is-active">
				<i class="lucca-icon icon-heart"></i>
				<span class="navSide-item-link-title">Section #1</span>
				<i class="navSide-item-arrow lucca-icons icon-arrowSouthThin"></i>
			</a>
			<nav class="navSide-item-subMenu">
				<a href="#" class="navSide-item-subMenu-link">Subsection #1.1</a>
			</nav>
		</div>
		<div class="navSide-item">
			<a href="#" class="navSide-item-link">
				<i class="lucca-icon icon-heart"></i>
				<span class="navSide-item-link-title">Section #1</span>
				<i class="navSide-item-arrow lucca-icons icon-arrowSouthThin"></i>
			</a>
			<nav class="navSide-item-subMenu">
				<a href="#" class="navSide-item-subMenu-link">Subsection #1.1</a>
			</nav>
		</div>
		<div class="navSide-item" app-update></div>
	</nav>
	<div class="navSide-bottomSection">
		<div class="navSide-item">
			<a href="#" class="navSide-item-link">
				<i class="lucca-icon icon-heart"></i>
				<span class="navSide-item-link-title">Bottom Section</span>
			</a>
		</div>
	</div>
</aside>